<style>
   .nav-link {
    color: #fff;
  }

  .header-font {
    color: #fff;
  }

  .header-font:hover {
    color: #3282B8;
  }

  .nav-link:hover {
    color: #3282B8;
  }

  /* New animation styles */
  .img-fluid {
    transition: transform 0.3s ease;
  }

  .img-fluid:hover {
    transform: scale(1.4);
  }
</style>
<header>


    <nav class="navbar navbar-expand-lg p-3" style="background-color:#1B262C;">
    <a class="navbar-brand ms-2" href="/student/"><h3 class="header-font">iSchool Student</h3></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" href="/student/">Home</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/view-principal">Principal</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/list-teachers">Teachers</a></li>
      <li class="nav-item"><a href="/student/list-students" class="nav-link">Students</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/attendance">Attendance</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/mark">Marks</a></li>
        <li class="nav-item"><a class="nav-link" href="/student/announcements">Announcement</a></li>
      </ul>
      {{#if student_data}}
        <div class="rounded-circle overflow-hidden">
            <a href="/student/profile">
                <img src="/images/student/{{student_data._id}}.jpg" alt="Teacher Photo" class="img-fluid" style="width: 52px; height: 50px;">
            </a>
        </div>
    {{/if}}
    </div>
  </nav>

</header>