
  <section class="features">
    <div class="container">
      <div class="container">
        <div class="row">
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="feature-box animated bounceInUp">
              <i class="fas fa-user-graduate fa-4x"></i>
              <h3>Our Students</h3>
              <p>Discover our vibrant student community and their achievements.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="feature-box animated bounceInUp">
              <i class="fas fa-chalkboard-teacher fa-4x"></i>
              <h3>Our Teachers</h3>
              <p>Meet our dedicated and passionate educators.</p>
              <a href="#" class="btn btn-primary">Meet the Team</a>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="feature-box animated bounceInUp">
              <i class="fas fa-user-tie fa-4x"></i>
              <h3>Our Principal</h3>
              <p>Get to know our visionary leader and their message.</p>
              <a href="#" class="btn btn-primary">Read Message</a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-2 d-flex align-items-stretch">
            <div class="feature-box animated bounceInUp">
              <i class="fas fa-building fa-4x"></i>
              <h3>Our Facilities</h3>
              <p>Explore our state-of-the-art campus and resources.</p>
              <a href="#" class="btn btn-primary">Take a Virtual Tour</a>
            </div>
          </div>
          <div class="col-md-4 d-flex align-items-stretch">
            <div class="feature-box animated bounceInUp">
              <i class="fas fa-bell fa-4x"></i>
              <h3>Notifications</h3>
              <p>Stay up-to-date with important announcements and events.</p>
              <a href="#" class="btn btn-primary">View Notifications</a>
            </div>
          </div>

          <div class="col-md-4 d-flex align-items-stretch">
            <div class="feature-box animated bounceInUp">
              <i class="fas fa-bell fa-4x"></i>
              <h3>Join as teacher</h3>
              <p>Stay up-to-date with important announcements and events.</p>
              <a href="/req-teacher" class="btn btn-primary">Send Request</a>
            </div>
          </div>

          
        </div>
      </div>
    </div>
  </section>
