<section class="login-options">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="login-box animated fadeInUp">
          <i class="fas fa-user-tie fa-4x"></i>
          <h3>Principal Login</h3>
          <a href="/principal/principal-login" class="btn btn-primary">Log In</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="login-box animated fadeInUp">
          <i class="fas fa-chalkboard-teacher fa-4x"></i>
          <h3>Teacher Login</h3>
          <a href="/teacher/login" class="btn btn-primary">Log In</a>
        </div>
      </div>
      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="login-box animated fadeInUp">
          <i class="fas fa-user-graduate fa-4x"></i>
          <h3>Student Login</h3>
          <a href="/student/login" class="btn btn-primary">Log In</a>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 d-flex align-items-stretch">
        <div class="login-box animated fadeInUp">
          <i class="fas fa-user-graduate fa-4x"></i>
          <h3>User Login</h3>
          <a href="/user-login" class="btn btn-primary">Log In</a>
        </div>
      </div>
    </div>
  </div>
</section>
