
    <style>
       

        .form-container {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            background-color: #3498db;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            color: #fff;
            box-sizing: border-box;
            transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        }
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
        }

        .form-container:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        }

        label {
            display: block;
            margin-bottom: 8px;
            font-size: 16px;
        }

        input {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            border: 1px solid #2980b9;
            border-radius: 5px;
            box-sizing: border-box;
        }

        button {
            width: 100%;
            padding: 12px;
            background-color: #27ae60;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
            transition: background-color 0.3s ease-in-out;
        }

        button:hover {
            background-color: #218c53;
        }
    </style>
    <div class="container">
        <div class="form-container">
        <h2>Request for Announcement</h2>
        <form method="POST" action="/teacher/request-announcement">
            <label for="title">Title:</label>
            <input type="text" id="title" name="title" required>

            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>

            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4" required></textarea>
            <button type="submit">Request</button>
        </form>
    </div>
    </div>
