
<style>
   body {
  font-family: Arial, sans-serif;
  background-color: #1B262C;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  text-align: center;
}

.heading {
  color: #BBE1FA;
  font-size: 2.5rem;
  font-weight: bolder;
  margin-bottom: 30px;
}

.box {
  background-color: #0F4C75;
  color: #BBE1FA;
  border-radius: 10px;
  padding: 20px;
  margin: 0 20px;
  width: 200px;
  height: 200px; /* Set fixed height */
  display: inline-block;
  transition: transform 0.3s ease;
  box-sizing: border-box; /* Include padding and border in the width and height */
  cursor: pointer;
}

.box:hover {
  transform: translateY(-10px);
}

.number {
  font-size: 3.2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #fff;
}
h2{
    font-size: 1.6rem;
}

</style>
  

<section>
    <div class="container mt-5">
        <h1 class="heading mb-5">Attendance Report</h1>
        <div class="box total-working-days">
          <h2>Total Working Days</h2>
          <p class="number">{{workingDays}}</p>
        </div>
        <div class="box present-days">
          <h2>Student Present Days</h2>
          <p class="number">{{student_data.attendance.present}}</p>
        </div>
        <div class="box percentage">
          <h2>Total Percentage</h2>
          <p class="number">{{student_data.attendance.percentage}}%</p>
        </div>
      </div>
</section>
