<style>

  .box { cursor: pointer; width: 300px; height: 200px; margin: 20px; padding:
  20px; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px
  rgba(0, 0, 0, 0.1); transition: transform 0.3s ease-in-out; } .box:hover {
  transform: scale(1.05); } .box h2 { color: #333; } .box p { color: #666; }
  .cmn-text{
    text-decoration: none;
  }
</style>
<section>
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <a class="cmn-text" href="/student/attendance">
          <div class="box">
          <h2>Attendance</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
            amet urna at nunc vulputate tincidunt.</p>
        </div>
        </a>

      </div>
      <div class="col-md-6">
        <a class="cmn-text" href="/studnet/other">
          <div class="box">
          <h2>Other</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
            amet urna at nunc vulputate tincidunt.</p>
        </div>
        </a>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <a class="cmn-text" href="/student/list-students">
        <div class="box">
          <h2>Students</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
            amet urna at nunc vulputate tincidunt.</p>
        </div>
        </a>

      </div>
      <div class="col-md-6">
        <a class="cmn-text" href="/student/list-teachers">
          <div class="box">
            <h2>Teachers</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
              amet urna at nunc vulputate tincidunt.</p>
          </div>
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <a class="cmn-text" href="/student/classes">
          <div class="box">
          <h2>Classes</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
            amet urna at nunc vulputate tincidunt.</p>
        </div>
        </a>

      </div>
      <div class="col-md-6">
        <a class="cmn-text" href="/studnet/announcements">
          <div class="box">
          <h2>Announcement</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sit
            amet urna at nunc vulputate tincidunt.</p>
        </div>
        </a>

      </div>
    </div>

  </div>
</section>