  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css">
  <style>
    body {
      background-color: #1B262C;
      font-family: Arial, sans-serif;
      color: #BBE1FA;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .container {
      background-color: #0F4C75;
      padding: 40px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      max-width: 400px;
      width: 100%;
      box-sizing: border-box;
    }

    h2 {
      text-align: center;
    }

    input[type="text"],
    input[type="password"] {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      border: none;
      border-radius: 5px;
      background-color: #3282B8;
      color: #ffffff;
      font-size: 16px;
      box-sizing: border-box;
    }

    input[type="checkbox"] {
      margin-top: 10px;
    }

    input[type="submit"] {
      width: 100%;
      padding: 10px;
      margin-top: 20px;
      border: none;
      border-radius: 5px;
      background-color: #BBE1FA;
      color: #1B262C;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    input[type="submit"]:hover {
      background-color: #1B262C;
      color: #fff;
    }

    .new-admission {
      text-align: center;
      margin-top: 20px;
    }

    input[type="text"]::placeholder,
    input[type="password"]::placeholder {
      color: #fff;
      /* Change placeholder text color to white */
    }
    .tag{
      color: #fff;
    }
    .icon-anger{
      text-decoration: none;  
      color: #ffffff;
    }
    .icon-anger:hover{
      color: #1B262C;
    }
    .tag:hover{
    font-weight: bold;
    color: #1B262C;
  }
  </style>
  <div class="container">
    <h2>Student Login</h2>
    <form id="loginForm" action="/student/login" method="POST">
      <input name="email" type="text" id="email" placeholder="Email">
      <input name="password" type="password" id="password" placeholder="Password">
      <label for="showPassword"><input type="checkbox" id="showPassword"> Show Password</label>
      <input type="submit" value="Login">
    </form>
    <p class="new-admission">New admission? <a href="/admission-req" class="tag">Click here</a></p>
    <div style="text-align: center; margin-top: 30px;">
      <a class="icon-anger" href="/"><i class="fa fa-home fa-lg" style="margin-right: 20px;"></i></a>
      <a class="icon-anger" href="/principal/principal-login"><i class="fa fa-user-tie fa-lg" style="margin-right: 20px;"></i></a>
      <a class="icon-anger" href="/teacher/login"><i class="fa fa-chalkboard-teacher fa-lg" style="margin-right: 20px;"></i></a>
      <a class="icon-anger" href="/user-login"><i class="fa fa-user fa-lg" style="margin-right: 20px;"></i></a>
    
    </div>
  </div>

  <script>
    const showPasswordCheckbox = document.getElementById('showPassword');
    const passwordInput = document.getElementById('password');

    showPasswordCheckbox.addEventListener('change', function () {
      const isChecked = this.checked;
      if (isChecked) {
        passwordInput.type = 'text';
      } else {
        passwordInput.type = 'password';
      }
    });
  </script>